@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
a {
    text-decoration: none;
    color: inherit;
  }

  :root {
    --header-bg-color: rgb(255, 255, 255);
    --light-text-color: #131313;
    --light-text-title: #000000;
    --text-color: #000;
    --blue: #3e66de;
    --light-green: #00ad1d;
    --dark-green: #016034;
    --light-orange: #ffaf60;
    --dark-orange: #c26100;
    --x-dark-orange: rgb(157, 42, 1);
    --white: #fff;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: var(--header-bg-color);
    border-radius: 5px;
    box-shadow: -2px 7px 5px -6px rgba(0, 0, 0, 0.61);
    color: var(--light-text-color);
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow-y: hidden;
  }
.logo{
    padding: 10px 0 10px 15px;
    width: 90px;
}
.nav-items > ul{
  list-style-type: none;
  display: flex;
  margin-right: 30px;
  align-items: center;
  justify-content: space-between;
}
.nav-items > ul > li{
    padding: 10px;
}
.nav-items > ul > li .fa-solid {
    padding-top: 15%;
}
.login{
    padding: 0 30px;
    cursor: pointer;
    font-size: 16px;
}
.nav-items > ul > li:hover,
.nav-items > ul > li:hover .logout-btn,
.nav-items > ul > li:hover .login-btn {
  background-color: var(--blue);
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
}
.filter{
    display: flex;
}

.body-container {
    min-height: 87vh;
}
.search-container {
  margin: 100px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-container .search-input {
    width: 30rem;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 8px 15px 8px 12px;
    border: 1px solid #aabcca;
    border-right: 0;
    color: var(--text-color);
    outline: none;
    font-size: large;
    font-weight: 500;
  }
  .search-container .search-input:focus {
    border-color: var(--dark-orange);
  }
  .search-container .search-input:placeholder-shown {
    text-overflow: ellipsis;
  }
  .search-container .search-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--dark-orange);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    padding: 12px 22px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .search-container .search-btn:hover {
    background-color: var(--dark-green);
  }
  .restaurant-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: stretch;
  }
.res-card{
    width: 280px;
    border-radius: 5px;
    box-shadow: -1px 5px 10px 5px rgba(112, 112, 112, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer; 
}
.res-card:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.res-logo{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}
.res-card > h3 {
    color: var(--light-text-title);
     white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.res-card > h5 {
    font-size: small;
    font-weight: 300;
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .res-card > span {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    text-align: center;
  }
  .res-card > span > h4 {
    font-weight: light;
    font-size: 11px;
    padding: 0 2px 0;
    margin-top: 10px;
    color: var(--light-text-title);
  }
  .res-card > span > h4:first-child {
    display: flex;
    align-items: center;
    background-color: var(--light-green);
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin-top: 5px;
  }
  
.filter-btn{
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    height: 300px;
    width: 350px;
    background-color: #f0f0f0;
    margin: 10px  ;
}